/********************************************** Variables *****************************************/
/*********************************************************************************************************/

//************ Theme ************//
$primary-light: #E0F2C1;
$primary-medium: #A3C6A6;
$primary-dark: #82A57D;
$secondary-light: #f5f1e5;
$secondary: #C5B185;



//************ fonts ************//
$font-family-title: 'Montserrat', sans-serif;
$font-family-subTitle: 'teko', sans-serif;
$font-family-text: 'roboto', sans-serif;
// $font-color-mainTheme: #ff6060;
// $font-color-light: #FFF;
// $font-color-dark: #000;


$fontSize-title: 1.3rem;
$fontSize-title-S: 1rem;
$fontSize-title-XL: 1.4rem;
// $font-size-small: 0.75rem;
// $font-size-main: 1.125rem;
// $font-size-large: 1.5rem;