/********************************************** Variables *****************************************/
/*********************************************************************************************************/

//************ Theme ************//
$primary-light: #E0F2C1;
$primary-medium: #A3C6A6;
$primary-dark: #82A57D;
$secondary-light: #f5f1e5;
$secondary: #C5B185;



//************ fonts ************//
// $font-color-mainTheme: #ff6060;
// $font-color-light: #FFF;
// $font-color-dark: #000;


// $font-size-small: 0.75rem;
// $font-size-main: 1.125rem;
// $font-size-large: 1.5rem;


