.hero {
    @extend %flex-column;
    gap: 25px;

    &__top {
        @extend %flex-columnCentered;
        gap: 25px;
    }

    &__buttons {
        @extend %flex-column;
        gap: 20px;
        padding-left: 5%;
    }
}