/************************ ViewProjectTest  ************************/
.viewProjecttMain {
    background-color: $secondary-light;
    padding-bottom: 60px;
}


/* ------------------ bannière ------------------ */
.viewProjectBanner {
    position: relative;
    // border-radius: 0 0 55px 55px;
    background: #000;
    // height: 250px;
    border-radius: 0 0 55px 55px;
    // padding-bottom: 125px;
    min-height: 281px;


    &__blurLoad {
        background-size: cover;
        background-position: center;
        border-radius: 0 0 55px 55px;
    }

    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;

        // height: 250px;
        border-radius: 0 0 55px 55px;
        // opacity: 0.8;
        display: block;
        object-position: center;
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
    }

    &__img.loaded {
        opacity: 0.8;
    }

    &__logo {
        @extend %flex-columnCentered;
        // width: 67%;
        width: 80%;
        height: 90px;
        // height: 130px;
        // height: 35%;
        padding: 10px 5%;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: white;
        border-radius: 5px;
        // opacity: 0.7;

        & img {
            object-fit: contain;
            width: 100%;
            // width: 70%;
            height: 100%;
            border-radius: 10px;
        }
    }

    &__closeIcon {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: $secondary-light;
        cursor: pointer;
    }
}


/* ------------------ contenu ------------------ */
.viewProject {
    @extend %flex-column;
    gap: 65px;
    padding: 45px 10px 125px 10px;

    &__title {
        font-size: 2.5rem;
        font-weight: 800;
    }


    /************************************************/
    /*****************A FACTORISER ******************/
    /************************************************/
    &__description {
        // font-size: 1.2rem;
        // @extend %flex-column;
        @extend %flex-columnCentered;

        gap: 35px;

        &-title {
            font-family: $font-family-title;
            font-size: 1.4rem;
            font-weight: 800;
            color: $primary-dark;

            &::after {
                content: '';
                display: block;
                width: 50%;
                height: 3px;
                margin: 5px auto 0;
                background-color: $primary-dark;
            }
        }

        &-content {
            @extend %flex-column;

            gap: 10px;
            line-height: 1.2;
        }
    }

    &__challenges {
        // font-size: 1.2rem;
        // @extend %flex-column;
        @extend %flex-columnCentered;

        gap: 35px;

        &-title {
            font-family: $font-family-title;
            font-size: 1.4rem;
            font-weight: 800;
            color: $primary-dark;

            &::after {
                content: '';
                display: block;
                width: 50%;
                height: 3px;
                margin: 5px auto 0;
                background-color: $primary-dark;
            }



        }

        &-content {
            @extend %flex-column;
            gap: 20px;
            color: $secondary-light;
            line-height: 1.2;

        }
    }
}

/* ------------------ Galerie ------------------ */
.viewProjectGallery {

    @extend %flex-columnCentered;
    gap: 50px;
    background-color: $primary-medium;
    padding: 23px 10px 50px 10px;
    width: 100%;

    &__title {
        font-family: $font-family-title;
        font-size: 1.4rem;
        font-weight: 800;
        color: $secondary-light;

        &::after {
            content: '';
            display: block;
            width: 50%;
            height: 3px;
            margin: 5px auto 0;
            background-color: $secondary-light;
        }
    }
}

.galleryContainer {
    @extend %flex-columnCentered;
    gap: 20px;

    &__navigate {
        @extend %flex-rowCentered;
        gap: 20px;

        & button {
            border-radius: 50px;
            width: 40px;
            height: 40px;
            border: none;
            // #19
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

            // background-color: $secondary-light;
            background-color: $secondary;
            color: $secondary-light;
        }
    }
}

.desktopGallery,
.mobileGallery {
    // @extend %flex-columnCentered;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    &__frame {
        width: 100%;
        pointer-events: none;
        z-index: 1;
    }

    &__scrollContainer {
        position: absolute;
        top: 0;

        @extend %flex-column;
        align-items: center;
        width: 94%;
        height: 76%;
        margin-top: 3.5%;

        overflow-y: auto;
        // masque les barres de défilement pour IE et Edge
        -ms-overflow-style: none;
        // masque les barres de défilement pour Firefox
        scrollbar-width: none;

        // masque les barres de défilement pour Chrome, Safari, et Opera
        &-scrollInner::-webkit-scrollbar {
            display: none;
        }

        &-image {
            display: block;
            width: 100%;
            height: auto;


            object-fit: cover;
            object-position: center;
        }
    }
}

.mobileGallery {
    &__frame {
        width: 72%;
        pointer-events: none;
        z-index: 1;
    }

    &__scrollContainer {
        width: 64%;
        height: 93%;
        margin-top: 4.5%;
    }
}