/********************************************** Placeholders ************************************************/
/*********************************************************************************************************/
/************************ Flex box ************************/
.hero__buttons, .hero, .heroContent__title {
  display: flex;
  flex-direction: column;
}

.sidebar, .hero__content, .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar, .SubmitButton, .heroImage__picture, .heroImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

/********************************************** Variables *****************************************/
/*********************************************************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*********** personnal reset *************/
a {
  text-decoration: none;
  color: inherit;
}

*, ::before, ::after {
  box-sizing: border-box;
}

main {
  width: 100%;
}

.heroContent {
  padding: 10px;
}
.heroContent__title {
  gap: 10px;
  padding-bottom: 20px;
}
.heroContent h1 {
  font-size: 18px;
  font-weight: 700;
  color: #82A57D;
}
.heroContent h2 {
  font-size: 24px;
}
.heroContent h2 span {
  font-weight: 700;
  color: #82A57D;
}
.heroContent__job {
  font-size: 20px;
  font-weight: 700;
  color: #82A57D;
}

.heroImage {
  position: relative;
  height: 40vh;
  width: 100%;
}
.heroImage__picture-liquidShape {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -100;
  top: 10%;
}
.heroImage__picture img {
  width: 65%;
  height: 100%;
  z-index: -50;
}

.links {
  gap: 20px;
  width: 100%;
  height: 100%;
}
.links a {
  font-size: 26px;
}

.toggleButton {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  position: fixed;
  top: 5px;
  right: 15px;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SubmitButton {
  width: 150px;
  height: 100%;
  padding: 11px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  color: white;
  background-color: #C5B185;
}

.hero {
  gap: 25px;
}
.hero__content {
  gap: 25px;
}
.hero__buttons {
  gap: 20px;
  padding: 0 15px;
}

.navbar {
  align-items: center;
  justify-content: space-between;
  height: 45px;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: white;
}

.sidebar {
  color: white;
}
.sidebar__background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  background: #82A57D;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section {
  padding-top: 50px;
  height: 100vh;
  scroll-snap-align: center;
}

.project {
  background-color: #A3C6A6;
}

.custom-shape-divider-bottom-1719499125 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1719499125 svg {
  position: relative;
  display: block;
  width: calc(119% + 1.3px);
  height: 57px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1719499125 .shape-fill {
  fill: #A3C6A6;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1719499125 svg {
    width: calc(238% + 1.3px);
    height: 46px;
  }
}/*# sourceMappingURL=main.css.map */