/************************ heroImage  ************************/
.heroImage {
    @extend %flex-rowCentered;
    position: relative;
    height: 40vh;
    width: 100%;
    z-index: 2000;

    &__picture {
        @extend %flex-rowCentered;

        &-liquidShape {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -100;
            top: 10%;
        }
    }

    &__picture img {
        width: 65%;
        height: 100%;
        z-index: -50;
    }

}