/************************ heroContent  ************************/
.heroContent {
    padding: 0 12px;

    &__title {
        @extend %flex-column;
        gap: 10px;
        padding-bottom: 20px;
        padding-left: 2%;

        & h1 {
            font-size: 13px;
            font-weight: 700;
            font-family: $font-family-title;
            color: $primary-dark;

            margin-bottom: 5px;
        }

        & h2 {
            font-size: 18px;
            font-family: $font-family-title;
            margin-bottom: 4px;
            font-weight: 500;
            padding-left: 5%;

            & span {
                font-weight: 700;
                color: $primary-dark;
            }
        }

        &-job {
            font-size: 25px;
            font-weight: 600;
            font-family: $font-family-subTitle;
            color: $primary-dark;

            // color: transparent;
            // -webkit-text-stroke: 1.1px $primary-dark;
        }
    }

    &__description {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.08;
    }
}