/************************ home  ************************/
// html {
//     scroll-snap-type: y mandatory;
//     scroll-behavior: smooth;
// }

section {
    padding-bottom: 45px;
    scroll-snap-align: center;
    background-color: $secondary-light;
    position: relative;
    // height: 100vh;
}

.sectionTitle {
    text-align: center;
    font-family: $font-family-title;
    font-size: $fontSize-title;
    font-weight: 800;
    // margin-bottom: 15px;
    margin-top: 15px;

    &__light {
        color: $secondary-light;
    }

    &__dark {
        color: $primary-dark;
        color: #1e8571;
    }
}

.sectionSubTitle {
    text-align: center;
    font-size: 14px;
    // margin-bottom: 10px;
}

.skills {
    @extend %flex-columnCentered;
}

.project,
.skills {
    background-color: $primary-medium;
    padding-top: 23px;
}

.services,
.contact {
    padding-top: 70px;
}

.services,
.project,
.skills {

    &__container {
        @extend %flex-columnCentered;
        gap: 40px;
    }
}

.contact {

    &__container {
        @extend %flex-column;
        gap: 20px;
    }
}

.acceuil {
    padding-top: 50px;
}

//
// CODE POUR LES SEPARATEURS DE SECTION
//

// Séparateur du haut
.custom-shape-divider-bottom-1719499125 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1719499125 svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 57px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1719499125 .shape-fill {
    fill: #a3c6a6;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1719499125 svg {
        width: calc(238% + 1.3px);
        height: 46px;
    }
}

// Séparateur du bas
.custom-shape-divider-top-1719498626 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 1000;
}

.custom-shape-divider-top-1719498626 svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 57px;
}

.custom-shape-divider-top-1719498626 .shape-fill {
    fill: #a3c6a6;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1719498626 svg {
        width: calc(238% + 1.3px);
        height: 46px;
    }
}