/************************ home  ************************/
// html {
//     scroll-snap-type: y mandatory;
//     scroll-behavior: smooth;
// }

section {
    padding-bottom: 45px;
    scroll-snap-align: center;
    background-color: $secondary-light;
    position: relative;
    // height: 100vh;
}

.sectionTitle {
    text-align: center;
    font-family: $font-family-title;
    font-weight: 800;
    // margin-bottom: 15px;
    margin-top: 15px;

    // font-size: $mobile-title-M;
    font-size: 1.375rem;

    @media (min-width: 768px) {
        font-size: 1.5rem;
    }

    @media (min-width: 1025px) {
        font-size: 1.875rem;
    }

    &::after {
        content: '';
        display: block;
        width: 50%;
        height: 3px;
        margin: 5px auto 0;
    }

    &__light {
        color: $secondary-light;

        &::after {
            background-color: $secondary-light;
        }
    }

    &__dark {
        color: $primary-darker;

        &::after {
            background-color: $primary-darker;
        }
    }
}

.sectionSubTitle {
    text-align: center;
    // font-size: 14px;
    // margin-bottom: 10px;

    & span {
        color: $primary-dark;
        font-weight: 800;
    }
}

.skills {
    @extend %flex-columnCentered;
}

.project,
.skills {
    background-color: $primary-medium;
    padding-top: 23px;
}

.services,
.contact {
    padding-top: 70px;
}

.services,
.project,
.skills {

    &__container {
        @extend %flex-columnCentered;
        gap: 40px;
    }
}

.contact {

    &__container {
        @extend %flex-columnCentered;
        gap: 20px;
    }
}


.services {

    &__container {

        @media (min-width: 768px) {
            padding: 0 5%;
        }

    }
}

.acceuil {
    padding-top: 50px;
    @extend %flex-columnCentered;
}


//
// CODE POUR LES SEPARATEURS DE SECTION
//
// Séparateur du haut
.custom-shape-divider-bottom-1719499125 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1719499125 svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 57px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1719499125 .shape-fill {
    fill: #a3c6a6;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1719499125 svg {
        width: calc(238% + 1.3px);
        height: 46px;
    }
}

// Séparateur du bas
.custom-shape-divider-top-1719498626 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 1000;
}

.custom-shape-divider-top-1719498626 svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 57px;
}

.custom-shape-divider-top-1719498626 .shape-fill {
    fill: #a3c6a6;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1719498626 svg {
        width: calc(238% + 1.3px);
        height: 46px;
    }
}