html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}


section {
    padding-top: 50px;
    height: 100vh;
    scroll-snap-align: center;
}


// TEST À SUPPRIMER 
.project {
    background-color: $primary-medium;
}

// SEPARATEUR DE SECTION ISSU DU SITE #1
// .custom-shape-divider-bottom-1719498443 {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     overflow: hidden;
//     line-height: 0;
//     transform: rotate(180deg);
// }

// .custom-shape-divider-bottom-1719498443 svg {
//     position: relative;
//     display: block;
//     width: calc(119% + 1.3px);
//     height: 57px;
// }

// .custom-shape-divider-bottom-1719498443 .shape-fill {
//     fill: #A3C6A6;
// }



// SEPARATEUR DE SECTION ISSU DU SITE #2
.custom-shape-divider-bottom-1719499125 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1719499125 svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 57px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1719499125 .shape-fill {
    fill: #A3C6A6;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1719499125 svg {
        width: calc(238% + 1.3px);
        height: 46px;
    }
}



// .custom-shape-divider-top-1719498626 {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     overflow: hidden;
//     line-height: 0;
// }

// .custom-shape-divider-top-1719498626 svg {
//     position: relative;
//     display: block;
//     width: calc(119% + 1.3px);
//     height: 57px;
// }

// .custom-shape-divider-top-1719498626 .shape-fill {
//     fill: #A3C6A6;
// }