/************************ sidebar  ************************/
.sidebar {
    @extend %flex-columnCentered;
    color: white;

    &__background {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 200px;
        background: $primary-dark;
    }
}